      <!-- Didn't find an answer? -->

      <div class=" flex items-center justify-center flex-col mt-16">
        <h1 class="text-[25px] sm:text-[36px] font-[500] mb-1 text-clef-primary text-center">Didn't find an answer?</h1>
        <p class="font-[400] text-[19px] text-[#86848b] text-center">Our team is just an email away and ready to answer your
          questions.</p>
      
            <NavLink href="ContactUs" class=" border-2 border-clef-primary mt-10 w-[160px] h-[55px]   cursor-pointer rounded-full flex items-center justify-center capitalize hover:scale-[1.09] hover:bg-clef-primary hover:text-clef-white  transition-all duration-300 text-clef-primary ">
            contact us
            </NavLink>

      </div>

      <!-- Didn't find an answer? -->