<section class="h-auto py-[50px] bg-clef-banner-bg">
    <div class=" w-[98%] lg:w-[60%] mx-auto h-full flex flex-col gap-[4em] ">
    
        @* content  start *@
    <div class="h-auto bg-clef-white w-full py-[50px] px-[10px] lg:pl-[150px] lg:pr-[150px] rounded-lg" >
          <h1 class="text-[25px] font-bold">Privacy Policy for Clef Mate Hotel Management Software</h1>

  <h2 class="text-[25px] font-bold">Introduction</h2>
  <p class="mb-[30px]">Clef Mate PMS (Property Management System) is a robust and secure software designed for managing hotels, guesthouses, apartments, resorts, and related establishments. Our commitment to privacy and data protection is fundamental. This Privacy Policy outlines how we collect, use, and safeguard your information when you interact with our software.</p>

  <h2 class="text-[25px] font-bold">Information We Collect</h2>
  <ul>
    <li class="mb-[20px]"><strong>Personal Information:</strong> We may collect personal information such as names, contact details, payment information, and other data necessary for managing accommodations and guest services.</li>
    <li class="mb-[20px]"><strong>Usage Information:</strong> We gather data on software usage, including user interactions, preferences, and system-related information for optimization purposes.</li>
  </ul>

  <h2 class="text-[25px] font-bold">How We Use Your Information</h2>
  <ul>
    <li class="mb-[20px]"><strong>Operational Purposes:</strong> Information collected is used for managing hotel operations, guest services, reservations, and improving our software's functionality.</li>
    <li class="mb-[20px]"><strong>Security and Integrity:</strong> Your data helps maintain the security and integrity of our software and its integration with hotel keycard locks.</li>
    <li class="mb-[20px]"><strong>Communication:</strong> We may use your information to communicate updates, offers, and important information related to our services.</li>
  </ul>

  <h2 class="text-[25px] font-bold">Data Security and Retention</h2>
  <ul>
    <li class="mb-[20px]"><strong>Security Measures:</strong> We employ industry-standard security practices to protect your data from unauthorized access, misuse, or alteration.</li>
    <li class="mb-[20px]"><strong>Data Retention:</strong> We retain information for the period necessary to fulfill the purposes outlined in this Privacy Policy or as required by law.</li>
  </ul>

  <h2 class="text-[25px] font-bold">Information Sharing and Disclosure</h2>
  <ul>
    <li class="mb-[20px]"><strong>Third-Party Integration:</strong> We may share necessary information with third-party service providers, subject to confidentiality agreements, to facilitate software functionalities.</li>
    <li class="mb-[20px]"><strong>Legal Compliance:</strong> We may disclose information in response to legal obligations or to protect our rights, property, or safety, or that of others.</li>
  </ul>

  <h2 class="text-[25px] font-bold">Your Choices and Rights</h2>
  <ul>
    <li class="mb-[20px]"><strong>Access and Correction:</strong> You have the right to access and update your personal information stored within our systems.</li>
    <li class="mb-[20px]"><strong>Opt-Out:</strong> You can opt-out of receiving promotional communications from us at any time.</li>
  </ul>

  <h2 class="text-[25px] font-bold">Updates to this Privacy Policy</h2>
  <p class="mb-[20px] t">Policy Changes: We may update this Privacy Policy periodically. Any changes will be posted on our website or communicated through appropriate channels.</p>

  <h2 class="text-[15px] font-bold">Contact Us</h2>
  <p>If you have any questions, concerns, or requests regarding this Privacy Policy or our data practices, please contact us at <a href="mailto:info@clefmate.com">info@clefmate.com</a>.</p>
      </div>
        @* content  end*@

        @* question satrt *@
           <DefineAnsweComp/>
         @* question end *@

    </div>
</section>