<section class="h-auto bg-clef-white py-[50px]">
    <div class="w-[95%] lg:w-[60%] mx-auto h-full">
        <div class="flex items-center justify-center flex-col gap-[3em]">
            @* links *@
            <div class="  flex items-center flex-wrap gap-[2em]">
                <NavLink id="navText" class="    relative  text-[14px] capitalize font-[600] text-clef-primary" href="">
                    Home
                </NavLink>
                <NavLink id="navText"
                    class="relative flex items-center text-[14px] capitalize font-[600] text-clef-primary " href="FAQ">
                    FAQ
                </NavLink>
                <NavLink id="navText"
                    class=" relative flex items-center text-[14px] capitalize font-[600] text-clef-primary "
                    href="Terms">
                    Terms
                </NavLink>
                <NavLink id="navText"
                    class=" relative flex items-center text-[14px] capitalize font-[600] text-clef-primary "
                    href="Products">
                    Products
                </NavLink>
                <NavLink id="navText"
                    class=" relative flex items-center text-[14px] capitalize font-[600] text-clef-primary "
                    href="ContactUs">
                    Contact Us
                </NavLink>
                 <NavLink id="Invest"
                    class=" relative flex items-center text-[14px] capitalize font-[600] text-clef-primary "
                    href="Invest">
                    Invest
                </NavLink>
            </div>
            @* links *@

            @* icons *@
            <div class="flex items-center   gap-[2em]">
           <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin-in text-clef-heading text-[18px] transition-all duration-300 ease hover:text-clef-primary"></i></a>
           <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f text-clef-heading text-[18px] transition-all duration-300 ease hover:text-clef-primary"></i></a>
           <a href="https://www.twitter.com"><i class="fa-brands fa-twitter text-clef-heading text-[18px] transition-all duration-300 ease hover:text-clef-primary"></i></a>
           <a href="https://www.instagram.com"><i class="fa-brands fa-instagram text-clef-heading text-[18px] transition-all duration-300 ease hover:text-clef-primary"></i></a>
           <a href="https://www.youtube.com"><i class="fa-brands fa-youtube text-clef-heading text-[18px] transition-all duration-300 ease hover:text-clef-primary"></i></a>
            </div>
            @* icons *@


            
      @* copyright *@
       <div>
          <h1 class="text-[14px] capitalize font-[600] text-clef-primary">© Copyright 2023. All rights retained by Clefe Mate Hotel Management.</h1>
       </div>
         @* copyright *@

        </div>

    </div>
</section>