<section class="h-[240px] bg-clef-primary py-[100px]">
    

    @* content start *@
    <div class="w-[95%]  lg:w-[60%] mx-auto h-full">
        <div class=" flex items-center justify-center h-full   ">
            <div class="w-full">
                <h1 class="text-white text-[25px] lg:text-[30px] font-[600] text-center">@Message</h1>
               <p class="text-white text-[16px] text-white text-center mt-2">Utilizing Clef Mate Hotel Management Software implies acceptance and adherence to our established Terms of Service, fostering a harmonious and efficient platform for all stakeholders.</p>
            </div>
        </div>
    </div>
    @* content end *@

</section>

@code{
    [Parameter]
    public string? Message { get; set; }
  
}