<section class="h-auto py-[100px] bg-clef-primary">
   

    @* content start *@
    <div class="w-[95%] lg:w-[60%] mx-auto h-full">
        <div class=" flex items-center justify-center   ">
            <div class="w-full">
                <h1 class="text-white text-[25px] lg:text-[30px] font-[600] text-center">@Message</h1>
                <p  class="text-white text-[16px] text-white text-center mt-2">
                Secure your establishment with our comprehensive lock solutions integrated into Clef Mate hotel management software for reliable access management. 
                </p>
            </div>
        </div>
    </div>
    @* content end *@

</section>

@code{
    [Parameter]
    public string? Message { get; set; }
}