<section class="h-auto lg:h-[240px] bg-clef-primary py-[100px]">


    @* content start *@
    <div class=" w-[95%] lg:w-[60%] mx-auto h-full">
        <div class=" flex items-center justify-center  h-full ">
            <div class="w-full">
                <h1 class="text-white text-[25px] lg:text-[30px] font-[600] text-center">Explore our smart features</h1>
                <p class="text-white font-[500] mt-[10px] text-[15px] text-center">The  system will give accurate report for daily, weekly, yearly etc. Most of the paper work and tedious <br> repeated task will be automated in the proposed system</p>
            </div>
        </div>
    </div>
    @* content end *@

</section>
