 <!-- banner-area-start  -->
  <section class=" [100vh] pt-[20px] relative z-[1] before:content-[''] before:absolute before:z-[-1] before:top-0 before:left-0 before:bottom-0 before:right-0 before:bg-clef-banner-bg before:rotate-[45deg] overflow-hidden">

    <!-- Banner Content Start -->
    <div class="px-[30px] lg:px-0   2xl:w-[60%]  mx-auto pt-[70px]">
      <div class=" flex items-center justify-center">
        <!-- Banner Content top text -->
        <div>
          <h1 class="text-[28px] sm:text-[30px] lg:text-[45px] text-clef-heading capitalize text-center font-[400]">Our hotel management is branded as Clef Mate</h1>
          <h2 class=" sm:text-[28px] lg:text-[22px]  text-clef-heading  font-[100]  text-center">Clef Mate PMS  is an enterprise and secured all in one software for managing Hotel,Guest House  apartments,Resorts etc. It has integration to work with hotel keycard locks as well.</h2>
          @* <p class=" sm:text-[13px]  lg:text-[15px] text-clef-heading font-[400] text-center mt-7">All-in-one bookkeeping platform to manage and grow your business.</p> *@
          <div class=" flex items-center justify-center gap-5 mt-14">
            <div class=" w-[50px] h-[50px] rounded-full btn-bg text-clef-white flex items-center justify-center cursor-pointer"><span class="material-symbols-outlined">play_arrow</span></div>
            <div class=" text-[13px] text-clef-primary font-bold hover:text-clef-heading transition-all duration-500 cursor-pointer"> WATCH VIDEO</div>
          </div>
          <!-- Banner Content top text -->


          <!-- Banner Content down image  -->
          <div class=" mt-[90px] flex ">
            <div>
              <img class=" lg:w-[900px] 2xl:w-[1076px]" src="../../images/banner/dashbord.jpg" alt="">
            </div>

          </div>
          @* <div  class="hidden lg:flex animate lg:top-[60%] lg:right-[0%]  absolute   xl:top-[40%] 2xl:top-[48%]     xl:right-[115px]">
            <img class=" lg:h-[500px] 2xl:h-[600px]  " src="../../images/banner/phone.webp" alt="">

          </div> *@
          <!-- Banner Content down image -->
        </div>
      </div>
    </div>
    <!-- Banner Content End -->
  </section>
  <!-- banner-area-end  -->