<!-- collabration-section start -->
  <section class="h-[auto] bg-clef-white lg:py-[40px]">
    <div class=" px-[30px] sm:px-[50px]  2xl:w-[60%]  mx-auto">
      <div>
        <div class="grid grid-cols-1 lg:grid-cols-2 w-full gap-[4em]">
          <!-- image -->
          <div>
            <img src="../../images/collabration/Reservation.jpg" alt="">
          </div>
          <!-- image -->
          <!-- content -->
          <div>
            <h2 class=" text-[20px] font-[500] text-clef-primary ">Save. Share. Print.</h2>
            <h1 class="text-[25px] sm:text-[33px]  font-[500] w-[290px] text-clef-heading mb-[30px] sm:w-[390px]">Get <span
                class="bg-clef-banner-bg">perfect PDF
                exports</span> and prints.</h1>
            <p class=" text-clef-paragraph text-[15px] font-[400] sm:w-full mb-[30px]">
              Simply export and print your documents in PDF format,
              share them with your clients and keep them in cloud.
            </p>
            
            <div class=" flex items-center flex-wrap sm:flex-nowrap gap-5 mb-8">
              <div
                class=" cursor-pointer transition-all    duration-300 hover:scale-[1.08] p-[20px] bg-clef-primary rounded-full  flex items-center justify-center text-clef-white">
                <span class="material-symbols-outlined text-[37px]">request_quote</span></div>
              <div>
                <h1 class=" text-[20px] text-clef-heading font-[600] mb-2 "> Payment Receipt</h1>
                <p class=" tex-[13px] text-clef-paragraph text-[400]">
                Electronic proof of payment for hotel service rendered.
                </p>
              </div>
            </div>
            <div class=" flex items-center flex-wrap sm:flex-nowrap gap-5 ">
              <div
                class=" cursor-pointer transition-all    duration-300 hover:scale-[1.08] p-[20px] bg-clef-primary rounded-full  flex items-center justify-center text-clef-white">
                <span class="material-symbols-outlined text-[37px]">cloud</span></div>
              <div>
                <h1 class=" text-[20px] text-clef-heading font-[600] mb-2">Everything in cloud.</h1>
                <h1 class=" tex-[13px] text-clef-paragraph text-[400]">
                Streamline operations; embrace efficiency in cloud for comprehensive hotel management.
                </h1>
              </div>
            </div>
          </div>
          <!-- content -->
        </div>
      </div>
    </div>
  </section>
  <!-- collabration-section end -->