<section class="bg-clef-white h-auto  pb-[70px]">
    <div class="w-[95%]  lg:w-[60%] mx-auto h-full ">
        <h1 class="text-[30px] font-[600] text-clef-primary text-center mb-[15px] capitalize">our clients</h1>
        <div class="flex flex-wrap   gap-4  company-slider">
            <div class="py-[30px] w-auto px-4 border  mr-[15px]   text-center flex items-center justify-center  bg-[#fff] shadow-lg text-clef-heading cursor-pointer rounded text-[20px] font-[600] uppercase">FOREST HOTEL </div>
            <div class="py-[30px] !w-auto px-4 border  mr-[15px]  text-center flex items-center justify-center  bg-[#fff] shadow-lg text-clef-heading cursor-pointer  rounded text-[20px] font-[600] uppercase">NEW JOKO HOTEL  </div>
            <div class="py-[30px] !w-auto px-4 border mr-[15px]   text-center flex items-center justify-center  bg-[#fff] shadow-lg text-clef-heading cursor-pointer  rounded text-[20px] font-[600] uppercase">DANRITZCER GUEST HOUSE   </div>
            <div class="py-[30px] !w-auto px-4 border  mr-[15px]  text-center flex items-center justify-center  bg-[#fff] shadow-lg text-clef-heading cursor-pointer  rounded text-[20px] font-[600] uppercase">EAST LEGON GUEST LODGE   </div>
            <div class="py-[30px] !w-auto px-4 border  mr-[15px]  text-center flex items-center justify-center  bg-[#fff] shadow-lg text-clef-heading cursor-pointer rounded text-[20px] font-[600] uppercase">ROSAPEARL HOTEL   </div>
            <div class="py-[30px] !w-auto px-4 border  mr-[15px]  text-center flex items-center justify-center  bg-[#fff] shadow-lg text-clef-heading cursor-pointer  rounded text-[20px] font-[600] uppercase">NIM AVENUE HOTEL  </div>
            <div class="py-[30px] !w-auto px-4 border  mr-[15px]  text-center flex items-center justify-center  bg-[#fff] shadow-lg text-clef-heading cursor-pointer  rounded text-[20px] font-[600] uppercase">HOTEL GREEN  </div>
            <div class="py-[30px] !w-auto px-4 border  mr-[15px] text-center flex items-center justify-center   bg-[#fff] shadow-lg text-clef-heading cursor-pointer rounded text-[20px] font-[600] uppercase">LOVEK CONDOS   </div>
            <div class="py-[30px] !w-auto px-4 border  mr-[15px]  text-center flex items-center justify-center  bg-[#fff] shadow-lg text-clef-heading cursor-pointer  rounded text-[20px] font-[600] uppercase">PLATINUM PLUS APARTMENTS   </div>
            <div class="py-[30px] !w-auto px-4 border  mr-[15px]  text-center flex items-center justify-center  bg-[#fff] shadow-lg text-clef-heading cursor-pointer  rounded text-[20px] font-[600] uppercase">COVENANT HOTEL   </div>
            <div class="py-[30px] !w-auto px-4 border  mr-[15px]  text-center flex items-center justify-center  bg-[#fff] shadow-lg text-clef-heading cursor-pointer  rounded text-[20px] font-[600] uppercase">GENEVIEVA HOTEL    </div>
            <div class="py-[30px] !w-auto px-4 border  mr-[15px]  text-center flex items-center justify-center  bg-[#fff] shadow-lg text-clef-heading cursor-pointer  rounded text-[20px] font-[600] uppercase">SG GOLDEN SUITE   </div>
            <div class="py-[30px] !w-auto px-4 border  mr-[15px]  text-center flex items-center justify-center  bg-[#fff] shadow-lg text-clef-heading cursor-pointer  rounded text-[20px] font-[600] uppercase">AMERICA ROYAL LODGE    </div>
            <div class="py-[30px] !w-auto px-4 border  mr-[15px]  text-center flex items-center justify-center  bg-[#fff] shadow-lg text-clef-heading cursor-pointer  rounded text-[20px] font-[600] uppercase">NANA’S HOLIDAY GUEST HOUSE  </div>
            <div class="py-[30px] !w-auto px-4 border  mr-[15px]  text-center flex items-center justify-center  bg-[#fff] shadow-lg text-clef-heading cursor-pointer  rounded text-[20px] font-[600] uppercase">IKE CITY HOTEL   </div>
            <div class="py-[30px] !w-auto px-4 border  mr-[15px]  text-center flex items-center justify-center  bg-[#fff] shadow-lg text-clef-heading cursor-pointer  rounded text-[20px] font-[600] uppercase">TAP HOTEL   </div>
            <div class="py-[30px] !w-auto px-4 border  mr-[15px]  text-center flex items-center justify-center  bg-[#fff] shadow-lg text-clef-heading cursor-pointer  rounded text-[20px] font-[600] uppercase">Triple Hills Hotel   </div>
            <div class="py-[30px] !w-auto px-4 border  mr-[15px]  text-center flex items-center justify-center  bg-[#fff] shadow-lg text-clef-heading cursor-pointer  rounded text-[20px] font-[600] uppercase">Premier Plush Apartment   </div>
        </div>
    </div>
</section>

<script>

    
$('.company-slider').slick({
  slidesToShow: 4,
  slidesToScroll: 1,
  autoplay: true,
  autoplaySpeed: 2000,
});





</script>