 <!-- subscribe-page -->
  
  <section class=" h-auto bg-white    px-[30px] sm:mt-6 sm:px-[50px] ">
    <div class=" 2xl:w-[60%]  mx-auto ">
      <div
      
        class="relative rounded-[10px]  py-[100px] btn-bg sm:h-[328px] px-[20px] 2xl:w-full ">
        <!--subscribe content -->
        <div class=" flex items-center justify-center flex-col h-full">
          <h1 class=" text-[25px] sm:text-[36px] text-clef-white font-[600] text-center mb-3">Create Your Free Account</h1>
          <p class=" text-clef-white text-[15px] font-[400] mb-4 text-center">Start your 14-day free trial. No credit card required
          </p>
          <div class=" h-[65px] 2xl:h-[65px] sm:p-7 md:p-1 w-[50%]  bg-clef-white rounded-full flex-wrap sm:flex-nowrap flex items-center pl-3">
            <input class=" w-[100px] mt-5 sm:mt-0 sm:flex-1 outline-none ml-5  border-0 placeholder:capitalize placeholder:text-clef-paragraph pl-4"
              type="text" placeholder="your email">
            <div
              class="change w-[250px] sm:w-[150px] h-[60px] sm:h-[50px]  mt-7 sm:m-0 text-clef-white  cursor-pointer rounded-full flex items-center justify-center capitalize sm:text-clef-primary overflow-hidden">
              get started</div>
          </div>

        </div>
        <!-- subscribe content -->
        <img class="animate w-[100px] h-[101px] hidden sm:flex  absolute left-20 top-14" src="images/Icons/envelope.png" alt="">
        <img class="animating absolute top-40 right-0  " src="../../images/subscribe/subimage.webp" alt="">
      </div>
      <!-- subscribe-page end-->

    </div>
  </section>
  <!-- subscribe-page end  -->