    @* accordin start *@
      <div class="flex  content-start gap-5 flex-col w-full mt-8">
        <!-- button content end -->
        <div id="accordionBox" class="flex gap-4 flex-col w-full">
          <div id="accordion1"
            class="group bg-white border-[1px] border-[#e8e8e8] p-3 h-auto  lg:h-[60px] w-full sm:w-[70%] mx-auto  flex items-center justify-between hover:shadow-lg cursor-pointer">
            <h3 class="font-[600] text-[16px] text-clef-primary">Do you provide customer support?</h3>
            <div class="w-[20px] h-[20px] bg-clef-gray flex items-center justify-center text-clef-primary rounded-full">
              <span
                class="material-symbols-outlined transition-all duration-300 group-hover:rotate-[180deg]">expand_more</span>
            </div>
          </div>

          <!-- button content end -->

          <div id="accordionContent"
            class="shadow-lg h-[auto] p-5 bg-white border w-full lg:w-[70%] mx-auto hidden text-[17px] text-clef-paragraph font-[400]"
            data-id="accordion1">
            Certainly. Clef Mate offers a process where you can manage your accounting in the most efficient way in your
            busy work schedule. It allows you to automate transactions by placing a repeat order on your regular
            invoices. It reminds you and your customers of due invoices. It allows you to prepare and send offers
            instantly from anywhere with internet access, and helps you to easily track invoices. The online invoice
            application, which you will perform via the web application instead of the traditional methods of Excel
            invoice tracking or book tracking, minimizes the margin of error. In short, ZetReport accounting application
            is ready to meet your needs with features that make both your work and your life easier.

          </div>
        </div>
        <!-- button content end -->

        <!-- button content end -->
        <div id="accordionBox" class="flex gap-4 flex-col w-full">
          <div id="accordion2"
            class="group bg-white border-[1px] border-[#e8e8e8] p-3 h-auto  sm:h-[60px] w-full lg:w-[70%] mx-auto  flex items-center justify-between hover:shadow-lg cursor-pointer">
            <h3 class="font-[600] text-[16px] text-clef-primary">Are updates and bug fixes included in the cost of the item?</h3>
            <div class="w-[20px] h-[20px] bg-clef-gray flex items-center justify-center text-clef-primary rounded-full">
              <span
                class="material-symbols-outlined transition-all duration-300 group-hover:rotate-[180deg]">expand_more</span>
            </div>
          </div>

          <!-- button content end -->

          <div id="accordionContent"
            class="shadow-lg h-[auto] p-5 bg-white border w-full lg:w-[70%] mx-auto hidden text-[17px] text-clef-paragraph font-[400]"
            data-id="accordion2">
            To start using Clef Mate, click on the Free Trial button on the main page, fill out the registration form
            with your information, and complete the membership steps. Enjoy a 14-day free trial period. If you choose to
            continue as a paid subscriber, select one of our monthly or annual subscription options.
          </div>
        </div>
        <!-- button content end -->

        <!-- button content end -->
        <div id="accordionBox" class="flex gap-4 flex-col w-full">
          <div id="accordion3"
            class="group bg-white border-[1px] border-[#e8e8e8] p-3 h-auto  sm:h-[60px] w-full lg:w-[70%] mx-auto  flex items-center justify-between hover:shadow-lg cursor-pointer">
            <h3 class="font-[600] text-[16px] text-clef-primary">Can I extend or renew my item support?</h3>
            <div class="w-[20px] h-[20px] bg-clef-gray flex items-center justify-center text-clef-primary rounded-full">
              <span
                class="material-symbols-outlined transition-all duration-300 group-hover:rotate-[180deg]">expand_more</span>
            </div>
          </div>

          <!-- button content end -->

          <div id="accordionContent"
            class="shadow-lg h-[auto] p-5 bg-white border w-full lg:w-[70%] mx-auto hidden text-[17px] text-clef-paragraph font-[400]"
            data-id="accordion3">
            Not at all. To start your Clef Mate trial period, simply click the FREE TRIAL button. You can open your
            trial account instantly by entering your email address and the password you have created, and you can
            experience billing transactions through our application for 14 days free of charge.
          </div>
        </div>
        <!-- button content end -->

        <!-- button content end -->
        <div id="accordionBox" class="flex gap-4 flex-col w-full">
          <div id="accordion4"
            class="group bg-white border-[1px] border-[#e8e8e8] p-3 h-auto  sm:h-[60px] w-full lg:w-[70%] mx-auto  flex items-center justify-between hover:shadow-lg cursor-pointer">
            <h3 class="font-[600] text-[16px] text-clef-primary">Are updates and bug fixes included in the cost of the item?</h3>
            <div class="w-[20px] h-[20px] bg-clef-gray flex items-center justify-center text-clef-primary rounded-full">
              <span
                class="material-symbols-outlined transition-all duration-300 group-hover:rotate-[180deg]">expand_more</span>
            </div>
          </div>

          <!-- button content end -->

          <div id="accordionContent"
            class="shadow-lg h-[auto] p-5 bg-white border w-full sm:w-[70%] mx-auto hidden text-[17px] text-clef-paragraph font-[400]"
            data-id="accordion4">
            Of course. You can use our application from desktop, tablet or mobile. Since our application, which you can
            access from all devices with an internet connection, works with iOS and Android operating systems, you can
            easily download our mobile application to your tablet and phone.
          </div>
        </div>
        <!-- button content end -->

        @*  *@
            <!-- button content end -->
        <div id="accordionBox" class="flex gap-4 flex-col w-full">
          <div id="accordion5"
            class="group bg-white border-[1px] border-[#e8e8e8] p-3 h-auto  sm:h-[60px] w-full lg:w-[70%] mx-auto  flex items-center justify-between hover:shadow-lg cursor-pointer">
            <h3 class="font-[600] text-[16px] text-clef-primary">Do you provide customization services for your items?</h3>
            <div class="w-[20px] h-[20px] bg-clef-gray flex items-center justify-center text-clef-primary rounded-full">
              <span
                class="material-symbols-outlined transition-all duration-300 group-hover:rotate-[180deg]">expand_more</span>
            </div>
          </div>

          <!-- button content end -->

          <div id="accordionContent"
            class="shadow-lg h-[auto] p-5 bg-white border w-full lg:w-[70%] mx-auto hidden text-[17px] text-clef-paragraph font-[400]"
            data-id="accordion5">
            Of course. You can use our application from desktop, tablet or mobile. Since our application, which you can
            access from all devices with an internet connection, works with iOS and Android operating systems, you can
            easily download our mobile application to your tablet and phone.
          </div>
        </div>
        <!-- button content end -->

            <!-- button content end -->
        <div id="accordionBox" class="flex gap-4 flex-col w-full">
          <div id="accordion6"
            class="group bg-white border-[1px] border-[#e8e8e8] p-3 h-auto  sm:h-[60px] w-full lg:w-[70%] mx-auto  flex items-center justify-between hover:shadow-lg cursor-pointer">
            <h3 class="font-[600] text-[16px] text-clef-primary">Does the item come with installation and setup documentation?</h3>
            <div class="w-[20px] h-[20px] bg-clef-gray flex items-center justify-center text-clef-primary rounded-full">
              <span
                class="material-symbols-outlined transition-all duration-300 group-hover:rotate-[180deg]">expand_more</span>
            </div>
          </div>

          <!-- button content end -->

          <div id="accordionContent"
            class="shadow-lg h-[auto] p-5 bg-white border w-full lg:w-[70%] mx-auto hidden text-[17px] text-clef-paragraph font-[400]"
            data-id="accordion6">
            Of course. You can use our application from desktop, tablet or mobile. Since our application, which you can
            access from all devices with an internet connection, works with iOS and Android operating systems, you can
            easily download our mobile application to your tablet and phone.
          </div>
        </div>
        <!-- button content end -->

         
        <!-- button content end -->
        
      </div>
        @* accordin end *@


<script>
  
// accordian end
const accodionBox = document.querySelectorAll('#accordionBox')
const activeAccordionId = ""

accodionBox.forEach((element) => {
    const accodionBoxFirstChild = element.firstElementChild
    const id = accodionBoxFirstChild.getAttribute('id')
    accodionBoxFirstChild.addEventListener('click', () => handleShowAccordion(id))
    
})

const handleShowAccordion = (id) => {
    const accodionContent = document.querySelectorAll('#accordionContent')
    accodionContent.forEach((element) => {
        const elementId = element.getAttribute('data-id')
    
        if(elementId == id ) {
            const elementCLassList = element.classList
            if(elementCLassList.contains('block')) {
                elementCLassList.remove('block')
                elementCLassList.add('hidden')
            }else {
                elementCLassList.add('block')
                elementCLassList.remove('hidden')
            }
            
        }else {
            const elementCLassList = element.classList
            elementCLassList.add('hidden')
            elementCLassList.remove('block')
        }
    })
}

// accordian end
</script>