 <!-- blog-section-start -->
  <section class=" bg-clef-white ] pt-[100px] xl:pt-[50px] pb-[100px] sm:px-[50px]   px-[30px]">
    <div class=" 2xl:w-[65%]   mx-auto">
      <!-- blog-content -->
      <div class=" flex items-center justify-center flex-col">
        <h1 class=" md:text-[32px] text-clef-heading font-[500] text-[25px]">Grow Your Business with <span
            style=" background: #FFF8EE;">Clef Mate</span> </h1>
        <div class=" flex items-center justify-center gap-1">
          <div class=" w-[10px] h-[2px] bg-clef-primary mt-4 di"></div>
          <div class=" w-[50px] h-[2px] bg-clef-primary mt-4 di"></div>
        </div>
      </div>
      <!-- blog-content -->
      <!-- blog-cards -->
      <div class=" mt-[70px] ">
          <div class=" gap-4 grid sm:grid-cols-1 lg:grid-cols-3 w-full">
            @* first card *@
                <div   style="background: linear-gradient(222deg, #F4F4F9 40%, #FBFBFD00 60%); box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;" class="transition-all duration-500 overflow-hidden  hover:-translate-y-2 group h-[444px] w-full border-t-0  border-r-0  rounded-[30px]">
              <div class=" h-[60%] w-full flex flex-col]  ">
              <img class="group-hover:scale-[1.08] transition-all duration-500 w-[100%]" src="../../images/services/interface.jpg"
                alt="">
              </div>
               <div class=" relative w-full h-[40%] ">
              <div class="p-6">
                <a href="" class="flex items-start  gap-1 text-clef-primary decoration-none cursor-pointer">
                  <span class="material-symbols-outlined text-[30px] mt-[0.3]">tabs</span>
                  <h1 style="font-size: 20px; font-weight: 400;">Easy to Use Interface</h1>
                </a>
                <div class=" mt-4">
                  <p class=" text-clef-paragraph text-[15px] font-[400]">
                    Perform your bookkeeping efficiently and effectively without the need for extensive training or
                    technical expertise.
                  </p>
                </div>

              </div>
            </div>

                </div>
            @* first card *@


 @* second card *@
                <div   style="background: linear-gradient(222deg, #F4F4F9 40%, #FBFBFD00 60%); box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;" class="transition-all duration-500 overflow-hidden  hover:-translate-y-2 group h-[444px] w-full border-t-0  border-r-0  rounded-[30px]">
              <div class=" h-[60%] w-full flex flex-col]  ">
              <img class="group-hover:scale-[1.08] transition-all duration-500 w-[100%]" src="../../images/services/invoice.jpg"
                alt="">
              </div>
               <div class=" relative w-full h-[40%] ">
              <div class="p-6">
                <a href="" class="flex items-start  gap-1 text-clef-primary decoration-none cursor-pointer">
                  <span class="material-symbols-outlined text-[30px] mt-[0.3]">business_center</span>
                  <h1 style="font-size: 20px; font-weight: 400;">For All Work Types</h1>
                </a>
                <div class=" mt-4">
                  <p class=" text-clef-paragraph text-[15px] font-[400]">
                   We proudly support all industries and business owners from all around the world with our multi-currency platform.
                  </p>
                </div>

              </div>
            </div>

                </div>
            @* second card *@

            @* thirdd card *@
                <div   style="background: linear-gradient(222deg, #F4F4F9 40%, #FBFBFD00 60%); box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;" class="transition-all duration-500 overflow-hidden  hover:-translate-y-2 group h-[444px] w-full border-t-0  border-r-0  rounded-[30px]">
              <div class=" h-[60%] w-full flex flex-col]  ">
              <img class="group-hover:scale-[1.08] transition-all duration-500 w-[100%]" src="../../images/services/devices.svg"
                alt="">
              </div>
               <div class=" relative w-full h-[40%] ">
              <div class="p-6">
                <a href="" class="flex items-start  gap-1 text-clef-primary decoration-none cursor-pointer">
                  <span class="material-symbols-outlined text-[30px] mt-[0.3]">devices</span>
                  <h1 style="font-size: 20px; font-weight: 400;">For All Devices</h1>
                </a>
                <div class=" mt-4">
                  <p class=" text-clef-paragraph text-[15px] font-[400]">
                    Stay connected to your business finances no matter where you are or what device you are using.
                  </p>
                </div>

              </div>
            </div>

                </div>
            @* third card *@
            
          </div>
         </div>
      <!-- blog-cards  -->
       
          </div>
  </section>
  <!-- blog-section-end -->