<section class="h-auto py-[100px] bg-clef-banner-bg" >
<div class=" w-[98%] lg:w-[60%] mx-auto h-full">

   @* accordin start *@
   <Accordian/>
        @* accordin end *@

      

      <!-- Didn't find an answer? -->

    <DefineAnsweComp/>

      <!-- Didn't find an answer? -->

</div>
</section>



 