 <!-- uk section  -->
  <section class="h-auto py-[100px] bg-clef-white px-[30px] sm:px-[50px]">
    <div class=" 2xl:w-[64%] mx-auto">
      <h1 class="  text-[36px] text-clef-primary hover:text-clef-heading transition-all duration-300 font-[500] text-center cursor-pointer">
        Frequently Asked Questions</h1>

      <div class="flex  content-start gap-5 flex-col w-full mt-8">
        <!-- button content end -->
        <div id="accordionBox" class="flex gap-4 flex-col w-full">
          <div id="accordion1"
            class="group bg-white border-[1px] border-[#e8e8e8] p-3 h-auto  sm:h-[60px] w-full sm:w-[70%] mx-auto  flex items-center justify-between hover:shadow-lg cursor-pointer">
            <h3 class="font-[600] text-[16px] text-clef-primary">I am looking for a simple accounting application. Does
              Clef Mate meet my needs?</h3>
            <div class="w-[20px] h-[20px] bg-clef-gray flex items-center justify-center text-clef-primary rounded-full">
              <span
                class="material-symbols-outlined transition-all duration-300 group-hover:rotate-[180deg]">expand_more</span>
            </div>
          </div>

          <!-- button content end -->

          <div id="accordionContent"
            class="shadow-lg h-[auto] p-5 bg-white border w-full sm:w-[70%] mx-auto hidden text-[17px] text-clef-paragraph font-[400]"
            data-id="accordion1">
            Certainly. Clef Mate offers a process where you can manage your accounting in the most efficient way in your
            busy work schedule. It allows you to automate transactions by placing a repeat order on your regular
            invoices. It reminds you and your customers of due invoices. It allows you to prepare and send offers
            instantly from anywhere with internet access, and helps you to easily track invoices. The online invoice
            application, which you will perform via the web application instead of the traditional methods of Excel
            invoice tracking or book tracking, minimizes the margin of error. In short, ZetReport accounting application
            is ready to meet your needs with features that make both your work and your life easier.

          </div>
        </div>
        <!-- button content end -->

        <!-- button content end -->
        <div id="accordionBox" class="flex gap-4 flex-col w-full">
          <div id="accordion2"
            class="group bg-white border-[1px] border-[#e8e8e8] p-3 h-auto  sm:h-[60px] w-full sm:w-[70%] mx-auto  flex items-center justify-between hover:shadow-lg cursor-pointer">
            <h3 class="font-[600] text-[16px] text-clef-primary">How can i start using Clef Mate?</h3>
            <div class="w-[20px] h-[20px] bg-clef-gray flex items-center justify-center text-clef-primary rounded-full">
              <span
                class="material-symbols-outlined transition-all duration-300 group-hover:rotate-[180deg]">expand_more</span>
            </div>
          </div>

          <!-- button content end -->

          <div id="accordionContent"
            class="shadow-lg h-[auto] p-5 bg-white border w-full sm:w-[70%] mx-auto hidden text-[17px] text-clef-paragraph font-[400]"
            data-id="accordion2">
            To start using Clef Mate, click on the Free Trial button on the main page, fill out the registration form
            with your information, and complete the membership steps. Enjoy a 14-day free trial period. If you choose to
            continue as a paid subscriber, select one of our monthly or annual subscription options.
          </div>
        </div>
        <!-- button content end -->

        <!-- button content end -->
        <div id="accordionBox" class="flex gap-4 flex-col w-full">
          <div id="accordion3"
            class="group bg-white border-[1px] border-[#e8e8e8] p-3 h-auto  sm:h-[60px] w-full sm:w-[70%] mx-auto  flex items-center justify-between hover:shadow-lg cursor-pointer">
            <h3 class="font-[600] text-[16px] text-clef-primary">Is it necessary to enter credit card information for
              the free trial?</h3>
            <div class="w-[20px] h-[20px] bg-clef-gray flex items-center justify-center text-clef-primary rounded-full">
              <span
                class="material-symbols-outlined transition-all duration-300 group-hover:rotate-[180deg]">expand_more</span>
            </div>
          </div>

          <!-- button content end -->

          <div id="accordionContent"
            class="shadow-lg h-[auto] p-5 bg-white border w-full sm:w-[70%] mx-auto hidden text-[17px] text-clef-paragraph font-[400]"
            data-id="accordion3">
            Not at all. To start your Clef Mate trial period, simply click the FREE TRIAL button. You can open your
            trial account instantly by entering your email address and the password you have created, and you can
            experience billing transactions through our application for 14 days free of charge.
          </div>
        </div>
        <!-- button content end -->

        <!-- button content end -->
        <div id="accordionBox" class="flex gap-4 flex-col w-full">
          <div id="accordion4"
            class="group bg-white border-[1px] border-[#e8e8e8] p-3 h-auto  sm:h-[60px] w-full sm:w-[70%] mx-auto  flex items-center justify-between hover:shadow-lg cursor-pointer">
            <h3 class="font-[600] text-[16px] text-clef-primary">Can i use the Clef Mate on any device?</h3>
            <div class="w-[20px] h-[20px] bg-clef-gray flex items-center justify-center text-clef-primary rounded-full">
              <span
                class="material-symbols-outlined transition-all duration-300 group-hover:rotate-[180deg]">expand_more</span>
            </div>
          </div>

          <!-- button content end -->

          <div id="accordionContent"
            class="shadow-lg h-[auto] p-5 bg-white border w-full sm:w-[70%] mx-auto hidden text-[17px] text-clef-paragraph font-[400]"
            data-id="accordion4">
            Of course. You can use our application from desktop, tablet or mobile. Since our application, which you can
            access from all devices with an internet connection, works with iOS and Android operating systems, you can
            easily download our mobile application to your tablet and phone.
          </div>
        </div>
        <!-- button content end -->
      </div>

      <!-- Didn't find an answer? -->

      <DefineAnsweComp/>
      <!-- Didn't find an answer? -->

      <!-- uk subscribe  -->
      <div style=" overflow: hidden; width: 100%;"
        class="bg-clef-primary relative mt-20 rounded-[10px]  lg:w-[70%] mx-auto h-[400px] sm:h-[328px] before:content-[''] before:top-0 before:right-0 before:bottom-0 before:left-0 before:w-full before:h-full before:absolute before:z-[-1] before:bg-[url(../../images/banner/uk.webp)]">
        <!--subscribe content -->
        <div class=" flex items-center justify-center flex-col h-full ">
          <p class=" text-center text-clef-white text-[19px] font-[400] mb-2">GET STARTED</p>
          <h1 class="text-center text-[36px] text-clef-white font-[600] mb-3">Start Your 14-Day Free Trial Today!</h1>
          <div class=" h-[65px] w-[65%] bg-clef-white rounded-full flex items-center flex-wrap px-3 gap-4">
            <input class="w-[100px] sm:flex-1 mt-5 sm:mt-0 outline-none border-0 placeholder:capitalize placeholder:text-clef-paragraph pl-4"
              type="text" placeholder="your email">
            <div
              style="background: linear-gradient(to left bottom, #64b0ae, #4eb0c4, #4eadd9, #6da6e7, #9a9be9); cursor: pointer;"
              class=" w-[150px] h-[50px] mt-4 sm:mt-0 rounded-full flex items-center justify-center capitalize  text-clef-white  ">
              free trial</div>
          </div>
        </div>
        <!-- subscribe content -->
        <img class="animating absolute top-40 right-0  " src="../../images/subscribe/subimage.webp" alt="">
      </div>

      <!-- uk subscribe -->


      <!-- Zet blog section -->
      <div>
        <!-- Zet blog content -->
        <div class="flex items-center justify-center flex-col mt-32">
          <h1 class="text-[36px] text-clef-heading font-[500] text-center">Our <span class="bg-clef-banner-bg"
            >Blog</span></h1>
          <div class=" flex items-center justify-center  gap-1">
            <div class=" w-[10px] h-[2px] bg-clef-primary mt-4 di"></div>
            <div class=" w-[50px] h-[2px] bg-clef-primary mt-4 di"></div>
          </div>
          <p class="text-[15px] text-clef-paragraph font-[400] mt-4">Resources for small businesses and entrepreneurs
            looking to grow their business.</p>
        </div>
        <!-- Zet blog content -->
        <!-- Zet blog cards -->
        <div class="  lg:grid   flex items-center flex-wrap gap-[2em] justify-center lg:grid-cols-2    xl:grid-cols-3  xl:w-full mt-[60px] 2xl:gap-[10em]">

          <!-- card start -->
          <div class="group flex flex-col min-h-[400px] sm:h-[430px] w-full sm:w-[413px] border rounded-[40px] ">
            <!-- card image -->
            <div class="w-full h-[50%] overflow-hidden rounded-t-[30px]">
              <img class="object-cover group-hover:scale-[1.08] transition-all duration-300"
                src="../../images/Question/card1.webp" alt="">
            </div>
            <!-- card image -->
            <!-- card content -->
            <div class="w-full h-[50%] relative px-5">
              <div class=" sm:group-hover:-translate-x-[255px] transition-all duration-300 w-[70px]  h-[72px] flex flex-col absolute -mt-11 sm:-mt-11 right-0 mr-[35px]">
                <div class="w-full h-[60%] flex items-center justify-center bg-clef-white rounded-t-md"><span class="uppercase text-clef-heading text-[22px] font-bold">28</span></div>
                <div class="w-full h-[40%] flex items-center justify-center   bg-clef-primary rounded-b-md"><span class="uppercase text-clef-white font-semibold">jan</span></div>
              </div>
              <div class="flex items-center gap-1 mt-9">
                <span class="material-symbols-outlined text-clef-primary text-[19px]">schedule</span>
                <h1 class="text-[14px] font-[400]"> 8 Min.</h1>
              </div>
                <h1 class="text-[20px] font-[400] text-clef-primary hover:text-clef-heading transition-all duration-150 cursor-pointer">What is Cash Flow Statement?</h1>
          <p class="text-[15px] text-[400] text-clef-paragraph mt-3 leading-[1.7]">Within our hotel software, the Cash Flow Statement details the incoming and outgoing finances, tracking our financial health accurately.... <span class="text-[13px] text-clef-primary cursor-pointer hover:text-clef-heading transition-all duration-300" >Read More <span class="material-symbols-outlined text-[13px]">keyboard_double_arrow_right</span></span> </p>
            </div>
            <!-- card content -->
          </div>
 <!-- card end -->

    <!-- card start -->
    <div class="group flex flex-col  min-h-[400px] sm:h-[430px]  w-full sm:w-[413px] border rounded-[40px] ">
      <!-- card image -->
      <div class="w-full h-[50%] overflow-hidden rounded-t-[30px]">
        <img class="object-cover group-hover:scale-[1.08] transition-all duration-300"
          src="../../images/Question/card2.webp" alt="">
      </div>
      <!-- card image -->
      <!-- card content -->
      <div class="w-full h-[50%] relative px-5 ">
        <div class=" sm:group-hover:-translate-x-[255px] transition-all duration-300 w-[70px] h-[72px] flex flex-col absolute -mt-11 right-0 mr-[35px]">
          <div class="w-full h-[60%] flex items-center justify-center bg-clef-white rounded-t-md"><span class="uppercase text-clef-heading text-[22px] font-bold">28</span></div>
          <div class="w-full h-[40%] flex items-center justify-center   bg-clef-primary rounded-b-md"><span class="uppercase text-clef-white font-semibold">jan</span></div>
        </div>
        <div class="flex items-center gap-1 mt-9">
          <span class="material-symbols-outlined text-clef-primary text-[19px]">schedule</span>
          <h1 class="text-[14px] font-[400]"> 9 Min.</h1>
        </div>
          <h1 class="text-[20px] font-[400] text-clef-primary hover:text-clef-heading transition-all duration-150 cursor-pointer">10 Common Business Expenses</h1>
          <p class="text-[15px] text-[400] text-clef-paragraph mt-3 leading-[1.7]">Managing hotel expenses like utilities, maintenance, staff wages, and supplies is vital for effective financial management in hospitality...<span class="text-[13px] text-clef-primary cursor-pointer hover:text-clef-heading transition-all duration-300" >Read More <span class="material-symbols-outlined text-[13px]">keyboard_double_arrow_right</span></span> </p>
      </div>
      <!-- card content -->
    </div>
<!-- card end -->

   <!-- card start -->
   <div class="group flex flex-col min-h-[400px]  sm:h-[430px]  w-full sm:w-[413px] border rounded-[40px] ">
    <!-- card image -->
    <div class="w-full h-[50%] overflow-hidden rounded-t-[30px]">
      <img class="object-cover group-hover:scale-[1.08] transition-all duration-300"
        src="../../images/Question/card3.webp" alt="">
    </div>
    <!-- card image -->
    <!-- card content -->
    <div class="w-full h-[50%] relative px-5">
      <div class=" sm:group-hover:-translate-x-[255px] transition-all duration-300 w-[70px] h-[72px] flex flex-col absolute -mt-[44px] right-0 mr-[35px]">
        <div class="w-full h-[60%] flex items-center justify-center bg-clef-white rounded-t-md"><span class="uppercase text-clef-heading text-[22px] font-bold">28</span></div>
        <div class="w-full h-[40%] flex items-center justify-center   bg-clef-primary rounded-b-md"><span class="uppercase text-clef-white font-semibold">jan</span></div>
      </div>
      <div class="flex items-center gap-1 mt-9">
        <span class="material-symbols-outlined text-clef-primary text-[19px]">schedule</span>
        <h1 class="text-[14px] font-[400]"> 10 Min.</h1>
      </div>
        <h1 class="text-[20px] font-[400] text-clef-primary leading-6  hover:text-clef-heading transition-all duration-150 cursor-pointer">6 Effective Ways to Find New Customers</h1>
        <p class="text-[15px] text-[400] text-clef-paragraph  leading-[1.7]">Discover six proven strategies to attract fresh clientele and expand your hotel's reach through our innovative management software solution...<span class="text-[13px] text-clef-primary cursor-pointer hover:text-clef-heading transition-all duration-300" >Read More <span class="material-symbols-outlined text-[13px] ">keyboard_double_arrow_right</span></span> </p>
    </div>
    <!-- card content -->
  </div>
<!-- card end -->
        
        </div>
        <!-- Zet blog cards -->
      </div>
      <!-- Zet blog section -->

    </div>
  </section>
  <!-- uk section end-->


<script>
    // accordian end
const accodionBox = document.querySelectorAll('#accordionBox')
const activeAccordionId = ""

accodionBox.forEach((element) => {
    const accodionBoxFirstChild = element.firstElementChild
    const id = accodionBoxFirstChild.getAttribute('id')
    accodionBoxFirstChild.addEventListener('click', () => handleShowAccordion(id))
    
})

const handleShowAccordion = (id) => {
    const accodionContent = document.querySelectorAll('#accordionContent')
    accodionContent.forEach((element) => {
        const elementId = element.getAttribute('data-id')
    
        if(elementId == id ) {
            const elementCLassList = element.classList
            if(elementCLassList.contains('block')) {
                elementCLassList.remove('block')
                elementCLassList.add('hidden')
            }else {
                elementCLassList.add('block')
                elementCLassList.remove('hidden')
            }
            
        }else {
            const elementCLassList = element.classList
            elementCLassList.add('hidden')
            elementCLassList.remove('block')
        }
    })
}

// accordian end
</script>