   <h1 class="  text-[36px] text-clef-primary hover:text-clef-heading transition-all duration-300 font-[500] text-center cursor-pointer">
        Frequently Asked Questions</h1>

          @* accordin start *@
            <Accordian/>
        @* accordin end *@

      

      <!-- Didn't find an answer? -->
          <DefineAnsweComp/>
      <!-- Didn't find an answer? -->

    