<!-- mobile side-bar view -->

<div id="mobile"
  class="top-0 left-0 p-[30px]  w-[70%] sm:w-[55%] lg:hidden bg-white  fixed h-[100vh] z-[99999999999] -translate-x-[100%] transition-all duration-1000">
  <div class="flex items-center justify-between">
    <NavLink class="text-[25px] text-clef-primary capitalize font-[600]" href="">
      help center
    </NavLink>

   

    <div
      class="w-[30px] group hover:border-red-500 transition-all duration-200  cursor-pointer h-[30px] border-2 rounded-full flex items-center justify-center">
      <span id="close" class="material-symbols-outlined text">close</span></div>
  </div>

  <div class=" flex items-center group relative flex-col h-[auto] w-full  mt-12">
    @* links *@
    <div class="  flex flex-col items-center gap-[1em]">
      <NavLink id="navText" class="    relative  text-[18px] uppercase font-[600] text-clef-primary" href="HelpCenter">
        help center
      </NavLink>
       <NavLink class="relative flex items-center text-[18px] uppercase font-[600] text-clef-primary" href="Invest">
      Invest
    </NavLink>
      <NavLink id="navText" class="relative flex items-center text-[18px] uppercase font-[600] text-clef-primary "
        href="FAQ">
        FAQ
      </NavLink>
      <NavLink id="navText" class=" relative flex items-center text-[18px] uppercase font-[600] text-clef-primary "
        href="Terms">
        Terms
      </NavLink>


    </div>
    @* links *@

    @* btn *@
    <NavLink id="navText"
      class=" mt-[12px] mb-[15px] h-[40px] w-[120px] border border-clef-primary capitalize text-clef-primary flex items-center justify-center cursor-pointer"
      href="ContactUs">
      contact
    </NavLink>
    @* btn *@

       @* icons *@
            <div class="flex items-center flex-wrap   gap-[2em]">
           <a href="https://www.linkedin.com"><i class="fa-brands fa-linkedin-in text-clef-heading text-[18px] transition-all duration-300 ease hover:text-clef-primary"></i></a>
           <a href="https://www.facebook.com"><i class="fa-brands fa-facebook-f text-clef-heading text-[18px] transition-all duration-300 ease hover:text-clef-primary"></i></a>
           <a href="https://www.twitter.com"><i class="fa-brands fa-twitter text-clef-heading text-[18px] transition-all duration-300 ease hover:text-clef-primary"></i></a>
           <a href="https://www.instagram.com"><i class="fa-brands fa-instagram text-clef-heading text-[18px] transition-all duration-300 ease hover:text-clef-primary"></i></a>
           <a href="https://www.youtube.com"><i class="fa-brands fa-youtube text-clef-heading text-[18px] transition-all duration-300 ease hover:text-clef-primary"></i></a>
            </div>
            @* icons *@

  </div>
</div>



<!-- mobile side-bar view  -->


<!--Banner-Navbar Start -->

<div id="navbar" class=" h-[80px] ">
  <div class=" px-[30px] sm:px-[50px] 2xl:px-0 2xl:w-[60%]  mx-auto  h-full">
    <!-- Navbar-content start -->
    <div class=" flex items-center justify-between h-[100%]">

      <div class=" flex items-center gap-[5em]">
        <!-- logo -->
        <div>
          <NavLink class="nav-link" href="">
            <img class="w-[200] h-[50px] lg:w-[260px] lg:h-[60px]  cursor-pointer" src="../../images/logo/logo-2.png"
              alt="">
          </NavLink>
        </div>
        <!-- logo -->



      </div>
      <!-- links -->
      <div class="hidden lg:flex">
        <div class="  flex items-center gap-[2em]">
          <NavLink id="navText" class="    relative  text-[12px] uppercase font-[600] text-clef-white"
            href="HelpCenter">
            help center
          </NavLink>
            <NavLink id="navText" class="    relative  text-[12px] uppercase font-[600] text-clef-white"
            href="Invest">
           Invest
          </NavLink>
          @* <NavLink id="navText" class="relative flex items-center text-[12px] uppercase font-[600] text-clef-white "
            href="UserGuide">
            User Guide
          </NavLink> *@
          <NavLink id="navText" class="relative flex items-center text-[12px] uppercase font-[600] text-clef-white "
            href="FAQ">
            FAQ
          </NavLink>
          <NavLink id="navText" class=" relative flex items-center text-[12px] uppercase font-[600] text-clef-white "
            href="Terms">
            Terms
          </NavLink>
          <NavLink id="navText"
            class=" h-[40px] w-[120px] border border-white capitalize text-white flex items-center justify-center cursor-pointer"
            href="ContactUs">
            contact us
          </NavLink>

        </div>
      </div>
      <!-- links -->
      <!-- mobile menu icon -->
      <div id="show" class="  lg:hidden"><span id="show"
          class="material-symbols-outlined text-[2.5rem] text-[#fff] cursor-pointer ">menu</span></div>
      <!-- mobile menu icon -->
    </div>
    <!-- Navbar-content End -->
  </div>
</div>
<!-- Banner-Navbar End -->

<script>

  // sticky navbar start
  const scrollNavbar = document.querySelector('#navbar');
  const navTextColor = document.querySelector('#navText')
  function handdleScroll() {
    const scrollPosition = window.scrollY;
    const scroll = scrollPosition.toFixed(0)
    if (scroll >= 300) {
      scrollNavbar.style.position = 'fixed';
      scrollNavbar.style.top = 0;
      scrollNavbar.style.left = 0;
      scrollNavbar.style.right = 0;
      scrollNavbar.style.zIndex = 999999;
      scrollNavbar.style.height = 90 + 'px';
      scrollNavbar.style.background = "#6F0F79";
      scrollNavbar.style.boxShadow = "0 8px 25px 0 rgba(0, 0, 0, 0.04)";
      navTextColor.style.color = "#000";
      menuText.style.color = "#000"
      scrollNavbar.style.color = '#000';
    }
    if (scroll == 0) {
      scrollNavbar.style.position = 'relative';
      scrollNavbar.style.background = 'transparent';
      scrollNavbar.style.boxShadow = 'none';
      navTextColor.style.color = '#465761';
    }

  }
  window.addEventListener('scroll', handdleScroll)

  // sticky navbar end
  

  const closeMenu = document.querySelector('#close')
  const showMenu = document.querySelector('#show')
  const mobileMenu = document.querySelector('#mobile')


  function handleShowMenu() {
    mobileMenu.classList.remove('-translate-x-[100%]')
    mobileMenu.classList.add('translate-x-[0%]')
  }

  function hideMenu() {
    mobileMenu.classList.add('-translate-x-[100%]')
    mobileMenu.classList.remove('translate-x-[0%]')

  }

  closeMenu.addEventListener('click', hideMenu)

  showMenu.addEventListener('click', handleShowMenu)


</script>