<section class="h-[400px] bg-clef-primary">
    <HelpCenterNavbar />

    @* content start *@
    <div class=" w-[60%] mx-auto h-full">
        <div class=" flex items-center justify-center  h-full">
            <div class="w-full">
                <h1 class="text-white text-[25px] lg:text-[30px] font-[600] text-center">@MessageToChild</h1>
                 <div class="mt-2 relative w-full ">
                      <span class="material-symbols-outlined text-white cursor-pointer absolute ml-[10px] mt-[20px]">search</span>
                      <input  type="text" class="w-full h-[60px] border border-white flex items-center flex-1 !bg-transparent text-clef-white !outline-none !border-white focus:shadow-none   focus:!outline-none pl-[50px] placeholder:text-white" placeholder="Search for answers">
                 </div>   
            </div>
        </div>
    </div>
    @* content end *@

</section>



@code {
    // Define a parameter to receive the value from the parent
    [Parameter]
    public string? MessageToChild { get; set; }
}







