<section class="bg-clef-banner-bg h-auto py-[100px]">
<div class="w-[95%] xl:w-[60%] mx-auto h-full">
   @* accordin start *@
      <div class="flex  content-start gap-5 flex-col w-full ">
        <!-- button content end -->
        <div id="accordionBox" class="flex gap-4 flex-col w-full">
          <div id="accordion1"
            class="group bg-white border-[1px] border-[#e8e8e8] p-3 h-auto  lg:h-[60px] w-full sm:w-[70%] mx-auto  flex items-center justify-between hover:shadow-lg cursor-pointer">
            <h3 class="font-[600] text-[16px] text-clef-primary">Reservation and front office operations</h3>
            <div class="w-[20px] h-[20px] bg-clef-gray flex items-center justify-center text-clef-primary rounded-full">
              <span
                class="material-symbols-outlined transition-all duration-300 group-hover:rotate-[180deg]">expand_more</span>
            </div>
          </div>

          <!-- button content end -->

          <div id="accordionContent"
            class="shadow-lg h-[auto] p-5 bg-white border w-full lg:w-[70%] mx-auto hidden text-[17px] text-clef-paragraph font-[400]"
            data-id="accordion1">
           These are the places where hotel management system can really come in handy.   
           Managing  the people that coming in and out of the hotel and placing reservation can be true
           nightmare for a hotel but with a dedicate management system that is digital the entire  experience
           will be more than impresive . It offers a great way to handle the inquries and reservation , but also 
           get a good insight on the type of rooms and guests that are the most common for your hotel . This way you can figure out
           your new maketing approach!.
          </div>
        </div>
        <!-- button content end -->

        <!-- button content end -->
        <div id="accordionBox" class="flex gap-4 flex-col w-full">
          <div id="accordion2"
            class="group bg-white border-[1px] border-[#e8e8e8] p-3 h-auto  sm:h-[60px] w-full lg:w-[70%] mx-auto  flex items-center justify-between hover:shadow-lg cursor-pointer">
            <h3 class="font-[600] text-[16px] text-clef-primary">Room availability</h3>
            <div class="w-[20px] h-[20px] bg-clef-gray flex items-center justify-center text-clef-primary rounded-full">
              <span
                class="material-symbols-outlined transition-all duration-300 group-hover:rotate-[180deg]">expand_more</span>
            </div>
          </div>

          <!-- button content end -->

          <div id="accordionContent"
            class="shadow-lg h-[auto] p-5 bg-white border w-full lg:w-[70%] mx-auto hidden text-[17px] text-clef-paragraph font-[400]"
            data-id="accordion2">
           You get to understant when and how many rooms are active at any given time so you can offer 
           better services for your customers . Thanks to a Clef Mate hotel management system you can 
           really figure out the types of rooms sell faster during the peak seasons and you can forcast the room status 
           and sales for the near future.   
          </div>
        </div>
        <!-- button content end -->

        <!-- button content end -->
        <div id="accordionBox" class="flex gap-4 flex-col w-full">
          <div id="accordion3"
            class="group bg-white border-[1px] border-[#e8e8e8] p-3 h-auto  sm:h-[60px] w-full lg:w-[70%] mx-auto  flex items-center justify-between hover:shadow-lg cursor-pointer">
            <h3 class="font-[600] text-[16px] text-clef-primary">Lowering costs</h3>
            <div class="w-[20px] h-[20px] bg-clef-gray flex items-center justify-center text-clef-primary rounded-full">
              <span
                class="material-symbols-outlined transition-all duration-300 group-hover:rotate-[180deg]">expand_more</span>
            </div>
          </div>

          <!-- button content end -->

          <div id="accordionContent"
            class="shadow-lg h-[auto] p-5 bg-white border w-full lg:w-[70%] mx-auto hidden text-[17px] text-clef-paragraph font-[400]"
            data-id="accordion3">
           Instead of having a multiple people perform pieces of a larger job, you cut the cost by using  a digital  tool 
           that can take care of everything in a precise and relevant manner.  This way you can  definitely save money and invest
            in those places where you are in a dire need of funds. So it is definitely a win-win  situation here for sure.

          </div>
        </div>
        <!-- button content end -->

        <!-- button content end -->
        <div id="accordionBox" class="flex gap-4 flex-col w-full">
          <div id="accordion4"
            class="group bg-white border-[1px] border-[#e8e8e8] p-3 h-auto  sm:h-[60px] w-full lg:w-[70%] mx-auto  flex items-center justify-between hover:shadow-lg cursor-pointer">
            <h3 class="font-[600] text-[16px] text-clef-primary">Growth</h3>
            <div class="w-[20px] h-[20px] bg-clef-gray flex items-center justify-center text-clef-primary rounded-full">
              <span
                class="material-symbols-outlined transition-all duration-300 group-hover:rotate-[180deg]">expand_more</span>
            </div>
          </div>

          <!-- button content end -->

          <div id="accordionContent"
            class="shadow-lg h-[auto] p-5 bg-white border w-full sm:w-[70%] mx-auto hidden text-[17px] text-clef-paragraph font-[400]"
            data-id="accordion4">
          The main reason why you should use a hotel management system is that it allows you to grow your business. 
          It is definitely the best method that you can use in order  to get a complete insight on what works 
          inside your hotel , what can be improved and the results that you can obtain in the end. it is definitely 
          a great tool to help you take your business to new heights and it all comes down to you to make the right choice.
          </div>
        </div>
        <!-- button content end -->

        @*  *@
            <!-- button content end -->
        <div id="accordionBox" class="flex gap-4 flex-col w-full">
          <div id="accordion5"
            class="group bg-white border-[1px] border-[#e8e8e8] p-3 h-auto  sm:h-[60px] w-full lg:w-[70%] mx-auto  flex items-center justify-between hover:shadow-lg cursor-pointer">
            <h3 class="font-[600] text-[16px] text-clef-primary"> Smart key card hotel locks integrated </h3>
            <div class="w-[20px] h-[20px] bg-clef-gray flex items-center justify-center text-clef-primary rounded-full">
              <span
                class="material-symbols-outlined transition-all duration-300 group-hover:rotate-[180deg]">expand_more</span>
            </div>
          </div>

          <!-- button content end -->

          <div id="accordionContent"
            class="shadow-lg h-[auto] p-5 bg-white border w-full lg:w-[70%] mx-auto hidden text-[17px] text-clef-paragraph font-[400]"
            data-id="accordion5">
           Secured way and fastest way to issue card during checkng.
           This help Hotel Owners or Management to track every open log of the 
           Hotel Locks. this help in hnowing why and who entered a room below 
           special card also issues for in operations.
           <ol type="I" class="flex flex-col ">
            <li>Cleaing card</li>
            <li>Maintenance Card</li>
            <li>Inspection Card</li>
           </ol>
             It is great investment into your business and one that can 
             deliver a great ROI. It all comes down to the way you implement it but 
             the results will definitely astonish you in the end.
          </div>
        </div>
        <!-- button content end -->

          

         
        <!-- button content end -->
        
      </div>
        @* accordin end *@
</div>
</section>





<script>

     
// accordian end
const accodionBox = document.querySelectorAll('#accordionBox')
const activeAccordionId = ""

accodionBox.forEach((element) => {
    const accodionBoxFirstChild = element.firstElementChild
    const id = accodionBoxFirstChild.getAttribute('id')
    accodionBoxFirstChild.addEventListener('click', () => handleShowAccordion(id))
    
})

const handleShowAccordion = (id) => {
    const accodionContent = document.querySelectorAll('#accordionContent')
    accodionContent.forEach((element) => {
        const elementId = element.getAttribute('data-id')
    
        if(elementId == id ) {
            const elementCLassList = element.classList
            if(elementCLassList.contains('block')) {
                elementCLassList.remove('block')
                elementCLassList.add('hidden')
            }else {
                elementCLassList.add('block')
                elementCLassList.remove('hidden')
            }
            
        }else {
            const elementCLassList = element.classList
            elementCLassList.add('hidden')
            elementCLassList.remove('block')
        }
    })
}
</script>