  <!-- pricing area start -->
  <section
    class=" bg-[#244c5a] px-[30px] sm:px-[50px] z-[0] bg-no-repeat overflow-hidden bg-cover bg-center py-[50px] xl:py-[100px]  after:content-[''] after:w-full after:h-[100%] relative  after:right-0 after:top-0  after:absolute after:z-[-1]  after:bg-[url(../../images/banner/Price.webp)]">
    <div class="w-[60%] mx-auto">
      <!-- pricing content -->
      <div class=" flex items-center justify-center flex-col">
        <h1 class=" text-clef-white text-[36px] font-[500] text-center">Choose Your Plan</h1>
        <div class=" flex items-center justify-center  gap-1">
          <div class=" w-[10px] h-[2px] bg-clef-white mt-4 di"></div>
          <div class=" w-[50px] h-[2px] bg-clef-white mt-4 di"></div>
        </div>
        <p class="text-center text-[15px] font-[400] text-clef-white mt-4">Choose the payment plan that fits your needs.</p>
      </div>
      <!-- pricing content -->
      <!-- pricing cards -->
      <div class="sm:grid sm:grid-cols-1 flex items-center gap-[4em] flex-wrap md:grid-cols-2 xl:grid-cols-3  xl:gap-[7em] w-full mt-20">
        <!-- first-card -->
        <div class=" lg:w-[380px] md:h-auto w-full sm:h-[450px] lg:h-[450px] relative p-[50px] bg-clef-white rounded-[15px]">
          <img class=" absolute h-[50px] bottom-5 right-5 animate" src="../../images/Icons/rocket.png" alt="">
          <div class=" flex items-center justify-between">
            <h1 class=" text-[20px] font-[500] text-clef-heading">Free Trial</h1>
            <div class="h-[2px] w-[100px] bg-[#ccc]"></div>
            <span class="text-[15px] text-clef-paragraph font-[400]">14 Days</span>
          </div>
          <h1 class="text-[60px] font-[700] relative mt-5"><sub
              class="font-[500] -right-2 -top-[20px] text-[30px]">$</sub> 0 <sub class="font-[500] text-[13px] mr-3">/ 2
              weeks</sub></h1>
          <div
            class="card mt-5 w-[160px] h-[55px]   cursor-pointer rounded-full flex items-center justify-center capitalize text-white overflow-hidden">
            try for free</div>
          <div class="mt-6 flex items-center cursor-pointer hover:translate-x-2 transition-all duration-200 gap-2">
            <div class=" text-clef-primary  flex items-center justify-center"><span
                class="material-symbols-outlined text-[25px]">done</span></div>
            <h1 class=" text-[16px] font-[400] text-clef-heading">Track Income & Expenses</h1>
          </div>
          <div class="mt-3 flex items-center cursor-pointer hover:translate-x-2 transition-all duration-200 gap-2">
            <div class="text-clef-primary  flex items-center justify-center"><span
                class="material-symbols-outlined text-[25px]">done</span></div>
            <h1 class=" text-[16px] font-[400] text-clef-heading"> Insights & Reports</h1>
          </div>
          <div class="mt-3 flex items-center cursor-pointer hover:translate-x-2 transition-all duration-200 gap-2">
            <div class="text-clef-primary  flex items-center justify-center"><span
                class="material-symbols-outlined text-[25px]">done</span></div>
            <h1 class=" text-[16px] font-[400] text-clef-heading"> Live Support</h1>
          </div>
          <div class="mt-3 flex items-center cursor-pointer hover:translate-x-2 transition-all duration-200 gap-2">
            <div class="text-clef-primary  flex items-center justify-center"><span
                class="material-symbols-outlined text-[25px] font-bold">chevron_right</span></div>
            <h1 class="text-clef-primary font-bold text-[16px] "> Live Support</h1>
          </div>
        </div>
        <!-- first-card -->
        <!-- second-card -->
        <div 
          class=" lg:w-[380px] w-full md:h-auto h-full xl:h-[450px] 2xl:h-[550px]  lg:h-full -mt-[30px] relative p-[50px]  rounded-[15px] btn-bg">
          <img class="rotate absolute h-[50px] top-5 right-5 " src="../../images/Icons/pie.png" alt="">
          <div class=" flex items-center justify-between">
            <h1 class=" text-[20px] font-[500] text-clef-white">Regular</h1>
          </div>
          <h1 class="text-[60px] text-clef-white font-[700] relative mt-5"><sub
              class="font-[500] text-clef-white -right-2 -top-[20px] text-[30px]">$</sub> 12 <sub
              class="font-[500] text-[13px] mr-3 capitalize text-clef-white">/ montly</sub></h1>
          <div class="mt-6 flex items-center cursor-pointer hover:translate-x-2 transition-all duration-200 gap-2">
            <div class=" text-clef-white   flex items-center justify-center"><span
                class="material-symbols-outlined text-[25px]">done</span></div>
            <h1 class=" text-[16px] font-[400] text-clef-white">Track Income & Expenses</h1>
          </div>
          <div class="mt-3 flex items-center cursor-pointer hover:translate-x-2 transition-all duration-200 gap-2">
            <div class="text-clef-white   flex items-center justify-center"><span
                class="material-symbols-outlined text-[25px]">done</span></div>
            <h1 class=" text-[16px] font-[400] text-clef-white"> Insights & Reports</h1>
          </div>
          <div class="mt-3 flex items-center cursor-pointer hover:translate-x-2 transition-all duration-200 gap-2">
            <div class="text-clef-white   flex items-center justify-center"><span
                class="material-symbols-outlined text-[25px]">done</span></div>
            <h1 class=" text-[16px] font-[400] text-clef-white"> Live Support</h1>
          </div>
          <div class="mt-3 flex items-center cursor-pointer hover:translate-x-2 transition-all duration-200 gap-2">
            <div class="text-clef-white   flex items-center justify-center"><span
                class="material-symbols-outlined text-[25px]">done</span></div>
            <h1 class=" text-[16px] font-[400] text-clef-white"> For 3 Users</h1>
          </div>
          <div class="mt-3 flex items-center cursor-pointer hover:translate-x-2 transition-all duration-200 gap-2">
            <div class="text-clef-white   flex items-center justify-center"><span
                class="material-symbols-outlined text-[25px] font-[400]">chevron_right</span></div>
            <h1 class="text-clef-white font-[400] text-[16px] "> Pay as much as you use.</h1>
          </div>
          <div
            class=" border-2 border-clef-white mt-10 w-[160px] h-[55px]   cursor-pointer rounded-full flex items-center justify-center capitalize hover:scale-[1.09] transition-all duration-300 text-clef-white overflow-hidden">
            get started</div>
        </div>
        <!-- second-card -->
        <!-- third-card -->
        <div class=" lg:w-[380px] w-full  md:h-auto sm:h-[450px] relative p-[50px] bg-clef-white rounded-[15px]">
          <img class=" absolute  h-[50px] bottom-5 right-5 animating" src="../../images/Icons/diamond.png" alt="">
          <div class=" flex items-center justify-between">
            <h1 class=" text-[20px] font-[500] text-clef-heading">Annual</h1>
            <div class="h-[2px] w-[100px] bg-[#ccc]"></div>
            <span class="text-[15px] text-clef-paragraph font-[400]">Save 30%</span>
          </div>
          <h1 class="text-[60px] font-[700] relative mt-5"><sub
              class="font-[500] -right-2 -top-[20px] text-[30px]">$</sub> 99 <sub class="font-[500] text-[13px] mr-3">/
              yearly</sub></h1>
          <div
            class="card mt-5 w-[160px] h-[55px]   cursor-pointer rounded-full flex items-center justify-center capitalize text-white overflow-hidden">
            purchase plan</div>
          <div class="mt-6 flex items-center cursor-pointer hover:translate-x-2 transition-all duration-200 gap-2">
            <div class=" text-clef-primary  flex items-center justify-center"><span
                class="material-symbols-outlined text-[25px]">done</span></div>
            <h1 class=" text-[16px] font-[400] text-clef-heading"> Unlimited All Features</h1>
          </div>
          <div class="mt-3 flex items-center cursor-pointer hover:translate-x-2 transition-all duration-200 gap-2">
            <div class="text-clef-primary  flex items-center justify-center"><span
                class="material-symbols-outlined text-[25px]">done</span></div>
            <h1 class=" text-[16px] font-[400] text-clef-heading"> Unlimited All Features</h1>
          </div>
          <div class="mt-3 flex items-center cursor-pointer hover:translate-x-2 transition-all duration-200 gap-2">
            <div class="text-clef-primary  flex items-center justify-center"><span
                class="material-symbols-outlined text-[25px]">done</span></div>
            <h1 class=" text-[16px] font-[400] text-clef-heading"> 7/24 Live Support</h1>
          </div>
          <div class="mt-3 flex items-center cursor-pointer hover:translate-x-2 transition-all duration-200 gap-2">
            <div class="text-clef-primary  flex items-center justify-center"><span
                class="material-symbols-outlined text-[25px] font-bold">chevron_right</span></div>
            <h1 class="text-clef-primary font-bold text-[16px] "> Live Support</h1>
          </div>
        </div>
        <!-- third-card -->
      </div>
      <!-- pricing cards -->
    </div>
  </section>
  <!--  pricing area end-->