<section class="bg-clef-banner-bg h-auto lg:h-[93vh] pt-[20px] relative ">
    @* Navbar start *@
<NavbarComp/>
  @* Navbar end *@

  @* Banner-Content start *@
  <div class=" 2xl:w-[60%]   mx-auto h-full">
<div class="flex items-center justify-center h-full pt-[70px] xl:pt-[0px] px-[40px] ">
    <div class=" flex items-center justify-center  lg:justify-between w-full flex-wrap " >
        @* conttent start *@
       <div>
         <h1 class=" md:text-[32px] text-clef-heading font-[500] text-[25px]">Get <span
            style=" background: linear-gradient(180deg,rgba(255,255,255,0) 50%, rgba(111, 15, 121, 0.2) 50%);">Clef Mate</span> </h1>
            <h2 class="text-[30px] md:text-[40px]  font-[600] text-[#6F0F79]">free for 14 days.</h2>
            <p class="text-[15px] mt-2 text-clef-paragraph font-[600p]">Start your free 14-day trial today, no credit card required.</p>
       </div>
        @* conttent end *@
        @* image start *@
         <div class="xl:absolute  xl:right-[6%] ">
            <img class="animating h-[750px] "  src="../../images/banner/pricing.webp" alt="">
         </div>
        @* image end *@
    </div>
</div>
  </div>
   @* Banner-Content end *@

</section>